<head>
	<title>{{ title }}</title>
	<meta http-equiv="refresh" content="1800" />
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

	<div class="header">
		<div class="buttons">
			<a href="/" class="icon-button" title="Weather">
				<i class="fas fa-cloud-sun"></i>
			</a>
			<a href="/second" class="icon-button" title="Food">
				<i class="fas fa-utensils"></i>
			</a>
		</div>
		
		<div class="clock">
			<span hx-post="/toggleclock" hx-trigger="click">
				<span style="font-size: 80px; text-align: center">
					<span hx-get="/clock" hx-trigger="every 10s" hx-swap="innerHTML">
						Loading...
					</span>
					&nbsp;{{ lund_temperature }}&deg;C
				</span>
			</span>
		</div>

	</div>



	<div id="smhi">
		{% if use_local %}
			<img src="{{ url_for('static', filename='assets/meteogram.svg')}}" alt="Local SVG" width="100%" height="auto">
		{% else %}
			<img src="https://www.yr.no/en/content/2-2693678/meteogram.svg" alt="YR" width="100%" height="auto">
		{% endif %}
	</div>

	<div>
		{% for key, value in pollen.items() %}
			<div style="font-size: 30px">{{key}}: {{value}}</div>
		{% endfor %}
	</div>
</body>
