{% extends 'base.html' %} {% block head_content %}
<meta http-equiv="refresh" content="1800" />
{% endblock %} {% block title_content %}
<h1>Eating plan</h1>
{% endblock %}


{% macro food_icon(food_type) %}
{% if food_type == "Fisk" %}
&#x1F41F;
{% elif food_type == "Ägg" %}
&#x1F95A;
{% elif food_type == "Tofu" %}
&#x1F95C;
{% elif food_type == "Kött" %}
&#x1F356;
{% elif food_type == "Kyckling" %}
&#x1F414;
{% else %}
<!-- &#x1F41F; -->
{{food_type}}
{% endif %}
{% endmacro %}

{% macro render_select(week, day, available_foods_grouped, selected_food_type, selected_food) %}

<div class="row">
  <div class="col-md-3">
    <select name="{{ day }}-foodtype-plan" class="form-select"
      style='height: 60px; font-family:Arial; font-size: 30px;'>
      {% for food_type in available_foods_grouped %}
      {% if food_type == selected_food_type %}
      <option value="{{ food_type }}" selected>{{food_icon(food_type)}}</option>
      {% else %}
      <option value="{{ food_type }}">{{food_icon(food_type)}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="col-md-9">
    <select name="{{ day }}-food-plan" class="form-select" style="font-size: 30px;">
      {% for food in available_foods_grouped[selected_food_type] %}
      {% if food == selected_food %}
      <option value="{{ food }}" selected>{{ food }}</option>
      {% else %}
      <option value="{{ food }}">{{ food }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
{% endmacro %}


{% macro render_planning(available_foods_grouped, food_selections) %}

{% set days = ["Mo", "Tu", "We", "Th", "Fr"] %}

<div class="mb-3 col-md-8">
  <form action="/eating" method="POST">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <h4>Plan</h4>
      </div>
      <div class="col-md-2">
        <button type="submit">Save</button>
      </div>
    </div>
    {% for day in days %}
    {{render_select(week, day, available_foods_grouped, food_selections[day].type, food_selections[day].food)}}
    {% endfor %}
  </form>
</div>


{% endmacro %}

{% macro render_week(week, meals, available_foods, available_foods_grouped) %}


<div class="mb-3 col-md-2">
  <div class="col-md-3">
    <h4>v{{week}}</h4>
  </div>
  <div>
    {% for day, meal in meals.items() %}
    <div>
      <p>{{meal}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endmacro %}

{% block main_content %}

<div class="container mt-2">
  <div class="row">
    {{ render_planning(available_foods_grouped, food_selections) }}
    {% for week, meals in weeks.items() %}
    {{ render_week(week, meals, available_foods, available_foods_grouped) }}
    {% endfor %}
  </div>
</div>

<div class="container mt-2">
  <div>
    Food category overview goes here
  </div>
</div>

<meta http-equiv="refresh" content="1800" />
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Select all dropdowns within the form
    document.querySelectorAll('.form-select').forEach(select => {
      select.addEventListener('change', () => {
        // Trigger form submit on change
        select.closest('form').submit();
      });
    });
  });
</script>

{% endblock %}