{% extends 'base.html' %}

{% block title_content %}
<h1>Long-term forecast</h1>
{% endblock %}

{% block main_content %}
<div class="container-custom">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Date</th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col">Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in long_term_forecast %}
            <tr>
                <td>{{ entry.weekday }}</td>
                <td>{{ entry.date }}</td>
                <td>{{ entry.min_temp }}&deg;C</td>
                <td>{{ entry.max_temp }}&deg;C</td>
                <td>
                    <i class="fas {{ entry.icon }}" title="{{ entry.symbol }}" aria-label="{{ entry.symbol }}"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
