{% extends 'base.html' %} {% block head_content %}
<meta http-equiv="refresh" content="1800" />
{% endblock %} {% block title_content %}
<h1>Maträtter</h1>
{% endblock %}


{% macro food_icon(food_type) %}
{% if food_type == "Fisk" %}
&#x1F41F;
{% elif food_type == "Ägg" %}
&#x1F95A;
{% elif food_type == "Tofu" %}
&#x1F95C;
{% elif food_type == "Kött" %}
&#x1F356;
{% elif food_type == "Kyckling" %}
&#x1F414;
{% else %}
<!-- &#x1F41F; -->
{{food_type}}
{% endif %}
{% endmacro %}


{% macro food_type(food_type, foods) %}
<div class="row mb-3">
    <div style="font-weight: bold;">
        {{food_type}}
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <form action="/planning/add_food/{{food_type}}" method="post" class="d-flex align-items-center">
            <div class="pr-2" style="flex-grow: 1;">
                <input type="text" name="dish" class="form-control" style="width: 100%;" />
            </div>
            <button type="submit" class="icon-button-small" title="Add food" style="margin-right: 5px;">
                <i class="fas fa-add"></i>
            </button>
        </form>
    </div>
    <div class="col-md-2">
        <form action="/planning/remove_food_type/{{food_type}}" method="post">
            <button type="submit" class="icon-button-small" title="Remove food type">
                <i class="fas fa-remove"></i>
            </button>
        </form>
    </div>
</div>
{% for food in foods %}
<div class="row mb-1">
    <div class="col-md-8">
        {{food}}
    </div>
    <div class="col-md-3">
        <form action="/planning/remove_dish/{{food_type}}/{{food}}" method="post">
            <button type="submit" class="icon-button-small" title="Remove food">
                <i class="fas fa-remove"></i>
            </button>
        </form>
    </div>
</div>
{% endfor %}
{% endmacro %}

{% block main_content %}

<div class="container-custom">
    <div class="row mb-3">
        <form action="/planning/add_category" method="post">
            <div class="col-md-6">
                <input name="textinput" />
            </div>
            <div class="col-md-1">
                <button type="submit" class="icon-button-small" title="Add food category">
                    <i class="fas fa-add"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="row mb-4">
        {% for food in foods %}
        <div class="col-md-3">
            {{food_type(food, foods[food])}}
        </div>
        {% endfor %}
    </div>
</div>

<meta http-equiv="refresh" content="1800" />
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Select all dropdowns within the form
        document.querySelectorAll('.form-select').forEach(select => {
            select.addEventListener('change', () => {
                // Trigger form submit on change
                select.closest('form').submit();
            });
        });
    });
</script>

{% endblock %}