{% extends 'base.html' %} {% block head_content %}
<meta http-equiv="refresh" content="1800" />
{% endblock %} {% block title_content %}
<h1>Maträtter</h1>
{% endblock %}


{% macro food_icon(food_type) %}
{% if food_type == "Fisk" %}
&#x1F41F;
{% elif food_type == "Ägg" %}
&#x1F95A;
{% elif food_type == "Tofu" %}
&#x1F95C;
{% elif food_type == "Kött" %}
&#x1F356;
{% elif food_type == "Kyckling" %}
&#x1F414;
{% else %}
<!-- &#x1F41F; -->
{{food_type}}
{% endif %}
{% endmacro %}


{% block main_content %}

<div class="container-custom">
    <div>Matplanering</div>
</div>

<meta http-equiv="refresh" content="1800" />
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Select all dropdowns within the form
        document.querySelectorAll('.form-select').forEach(select => {
            select.addEventListener('change', () => {
                // Trigger form submit on change
                select.closest('form').submit();
            });
        });
    });
</script>

{% endblock %}