{% extends 'base.html' %}

{% block head_content %}
<meta http-equiv="refresh" content="1800" />
{% endblock %}

{% block title_content %}
<span hx-post="/toggleclock" hx-trigger="click">
	<h1>
		<span hx-get="/clock" hx-trigger="every 1s" hx-swap="innerHTML">
			Loading...
		</span>
		&nbsp;{{ lund_temperature }}&deg;C
	</h1>
</span>
{% endblock %}

{% block main_content %}
<div id="smhi">
	{% if use_local %}
		<img src="{{ url_for('static', filename='assets/meteogram.svg')}}" alt="Local SVG" width="100%" height="auto">
	{% else %}
		<img src="https://www.yr.no/en/content/2-2693678/meteogram.svg" alt="YR" width="100%" height="auto">
	{% endif %}
</div>

<div>
	{% for key, value in pollen.items() %}
		<div style="font-size: 30px">{{key}}: {{value}}</div>
	{% endfor %}
</div>
{% endblock %}


